<h3><%= @restaurant.name %><%= '⭐️' * @restaurant.rating %></h3>
<p><%= @restaurant.address %></p>

<%= link_to 'Delete', restaurant_path(@restaurant), method: :delete, data: { confirm: 'Do you really want to?' } %>
<%= link_to 'Back', restaurants_path%>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
